/materials
/models
/particles
/resource/*
!/resource/fonts/
!/resource/fonts/disket-mono-bold.ttf
!/resource/fonts/disket-mono-regular.ttf
/shaders
/sound
lua/autorun/sv_discord_logs.lua
gamemodes/zcity/gamemode/libraries/sv_gomiac.lua
